:host {
  padding: 16px;
  width: 100%;
}

mat-form-field {
  width: 100%;
}

.repo-card {
  height: 450px;
  max-width: 400px;
  margin: 0 auto 16px auto;
}

.repos-viewport {
  height: calc(100vh - 200px);
}

.repo-image {
  max-height: 250px;
  object-fit: cover;
}

.repo-description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

mat-spinner {
  margin: auto;
}
